<ngb-carousel class="primary-carousel">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/background/img3.jpg" class="p-img" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h5><span class="badge badge-primary badge-pill text-white font-medium">Primary</span></h5>
            <h3>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/background/img4.jpg" class="p-img" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h5><span class="badge badge-danger badge-pill text-white font-medium">Primary</span></h5>
            <h3>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/background/img6.jpg" class="p-img" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h5><span class="badge badge-info badge-pill text-white font-medium">Primary</span></h5>
            <h3>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</h3>
        </div>
    </ng-template>
</ngb-carousel>
