<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<app-newcards></app-newcards>

<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6">
        <app-countryvisit></app-countryvisit>
    </div>
    <div class="col-lg-6">
        <app-monthlysitevisit></app-monthlysitevisit>
        <app-weeklysitevisit></app-weeklysitevisit>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <app-visitcountries></app-visitcountries>
    </div>
    <div class="col-lg-8">
        <app-weathercard></app-weathercard>
    </div>
</div>

<div class="row m-b-30 mb-lg-0">
    <div class="col-lg-6">
        <app-salescard></app-salescard>
    </div>
    <div class="col-lg-6">
        <app-carouselwidget></app-carouselwidget>
    </div>
</div>

<!-- ============================================================== -->
<!-- Manage User Table -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <app-manageusertable></app-manageusertable>
    </div>
</div>
