* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 2px;
}

.floor {
    list-style-type: none;
    /* border: 1px solid #eee; */
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.floor:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.floor .header {
    background-color: #111;
    color: white;
    font-size: 14px;
}

.floor li {
    border-bottom: 1px solid #eee;
    padding: 2px;
    text-align: center;
}

.floor .grey {
    background-color: #eee;
    font-size: 14px;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}