<app-ratingcard></app-ratingcard>

<div class="row">
    <div class="col-lg-8">
        <app-product-yearly-sales></app-product-yearly-sales>
    </div>
    <div class="col-lg-4">
        <app-totalearn2></app-totalearn2>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <app-recentsales></app-recentsales>
    </div>
    <div class="col-lg-6">
        <app-comment></app-comment>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <app-totalearn></app-totalearn>
    </div>
    <div class="col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div>
