<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="mb-0 font-medium">$354.50</h2>
                <h5 class="text-muted mb-0">Total Income</h5>
            </div>
            <div class="ml-auto">
                <div style="height: 55px; width: 100px">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
