<div class="card">
    <h5 class="card-title p-3 bg-info text-white text-uppercase mb-0">
        User Activity
    </h5>
    <div class="card-body scrollable" style="height: 598px;" [perfectScrollbar]="config">
        <div class="steamline mt-0">
            <div class="sl-item">
                <div class="sl-left">
                    <button type="button" class="btn btn-success btn-circle btn-circle text-white">
                        <i class="ti-user"></i>
                    </button>
                </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="link text-dark">John Doe</a> <span class="sl-date">5
                            minutes ago</span>
                        <p class="mt-1 font-light">Contrary to popular belief</p>
                    </div>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left">
                    <button type="button" class="btn btn-info btn-circle btn-circle text-white">
                        <i class="fas fa-image"></i>
                    </button>
                </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="link text-dark">Hritik Roshan</a> <span class="sl-date">5
                            minutes ago</span>
                        <p class="mt-1 font-light">Lorem Ipsum is simply dummy</p>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <img src="assets/images/big/img1.jpg" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="assets/images/big/img2.jpg" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="assets/images/big/img3.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left"> <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle" />
                </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="link text-dark">Gohn Doe</a> <span class="sl-date">5
                            minutes ago</span>
                        <p class="mt-1 font-light">The standard chunk of ipsum</p>
                    </div>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left"> <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle" />
                </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="link text-dark">Varun Dhavan</a> <span class="sl-date">5
                            minutes ago</span>
                        <p class="font-light">Contrary to popular belief hi there..!</p>
                    </div>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left"> <img src="assets/images/users/5.jpg" alt="user" class="rounded-circle" />
                </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="link text-dark">Tiger Sroff</a> <span class="sl-date">5
                            minutes ago</span>
                        <p class="mt-1 font-light">The generated lorem ipsum</p>
                        <button class="btn btn-outline-success btn-rounded">Approve</button>
                        <button class="btn btn-outline-danger btn-rounded ml-2">Refuse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
