<ng-container>

    <div class="pt-3 clearfix">

        <!-- new -->

        <button type="button" class="btn btn-outline-info mx-1 " (click)="openModal()">
            <i class="fas fa-plus"></i>
            جديد
        </button>

        <button type="button" class="btn btn-outline-warning mx-1"  (click)="openEditModal()">
            <i class="fas fa-plus"></i>
            تعديل
        </button>

        <!-- delete -->

        <button type="button" class="btn btn-outline-danger mx-1" (click)="removeSlect()">
            <i class="fas fa-trash-alt"></i>
            حذف
        </button>
      

        <button type="button" class="btn btn-outline-danger mx-1" (click)="cancelSlect()">
            <i class="fas fa-trash-alt"></i>
            الغاء العقد
        </button>
        <!--  -->
        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentdateList()">
            <i class="far fa-address-card"></i>
            تاريخ الاقساط
        </button>

        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
            <i class="far fa-address-card"></i>
            سداد الاقساط
        </button>
        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalSafe()">
            <i class="far fa-address-card"></i>
            الخزنة
        </button>
        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
            <i class="far fa-address-card"></i>
            منبه الاقساط
        </button>
        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
            <i class="far fa-address-card"></i>
            الاقساط المتاخرة
        </button>
        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
            <i class="far fa-address-card"></i>
            التعاقدات الملغاة
        </button>
    </div>
    <br>
    <ejs-grid [dataSource]='data' id='Grid' [enableRtl]='true' height='100%' width='100%' (actionBegin)='begin($event)'
        [allowFiltering]='true' allowTextWrap='true' [textWrapSettings]='wrapSettings'
        [selectionSettings]='selectionsettings' gridLines='Both' [resizeSettings]="resizeSettings" (rowSelected)='rowSelected($event)'>
        <e-columns>
            <!-- <e-column type='checkbox' [height]='315' [allowFiltering]='false' [allowSorting]='false'
                [customAttributes]='customAttributes' width='60'></e-column> -->

            <e-column field='projectName' [customAttributes]='customAttributes' headerText='العقار ' textAlign='Right'
                width=150>
                <ng-template #filterTemplate>

                    <ejs-dropdownlist id="project" [dataSource]='dataDropDown' [changeOnBlur]='false'
                        [allowFiltering]='true' [autofill]='true' [enableRtl]='true' width=450 placeholder="اختار"
                        [fields]='FieldsProject' (change)='onChangeProject($event)' [showClearButton]="true">
                    </ejs-dropdownlist>
                </ng-template>
            </e-column>
            <e-column field='isStock' [customAttributes]='customAttributes' headerText='نوع العقد ' textAlign='Right'
                width=150>
                <ng-template #template let-data>
                    <span class="badge badge-light-success mr-2 ml-2" *ngIf="data.isStock">عقد سهم</span>
                    <span class="badge badge-light-danger" *ngIf="!data.isStock"> عقد واحدات</span>
                </ng-template>
                <ng-template #filterTemplate>

                    <ejs-dropdownlist id="stock" [dataSource]='stockList' [autofill]='true' [enableRtl]='true'
                        placeholder="اختار" [fields]='FieldsDDL' (change)='onChangeStock($event)'
                        [showClearButton]="true">
                    </ejs-dropdownlist>
                </ng-template>
            </e-column>

            <e-column field='name' [customAttributes]='customAttributes' headerText='   العميل' textAlign='Right'
                width=150>
            </e-column>
            <e-column field='program' [customAttributes]='customAttributes' headerText='   نظام الدفع' textAlign='Right'
                width=150>
            </e-column>

            <e-column field='phone' [customAttributes]='customAttributes' headerText=' التلفون' textAlign='Right'
                width=150>
            </e-column>

            <e-column field='address' [customAttributes]='customAttributes' headerText=' العنوان' textAlign='Right'
                width=150>
            </e-column>

            <e-column field='nationalNumber' [customAttributes]='customAttributes' headerText=' الرقم القومي'
                textAlign='Right' width=150>
            </e-column>

            <e-column field='date' format='dd/MM/yyyy' type='date' [customAttributes]='customAttributes'
                headerText='تاريخ العمل' textAlign='Right' width=180>

                <ng-template #filterTemplate>

                    <input type="date" #date class="form-control" (change)=onChangeDateTime(date.value)
                        format='dd/MM/yyyy' id="workSince">
                </ng-template>
            </e-column>


            <e-column field='notes' [allowFiltering]='false' [disabled]="true" [customAttributes]='customAttributes'
                height=400 headerText='  الملاحظات' textAlign='Right' width=190>
            </e-column>

            <e-column [allowFiltering]='false' [allowSorting]='false' width='170' [disabled]="true"
                headerText='العمليات' [customAttributes]='customAttributes'>
                <ng-template #template let-data>
                    <button class="btn btn-outline-info mx-1" data-toggle="tooltip" data-placement="bottom" (click)="openEdit(data.id)">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger" rel="tooltip" data-toggle="tooltip" data-placement="bottom" (click)="remove(data.id)"
                       >
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-outline-secondary" rel="tooltip" data-toggle="tooltip"
                        data-placement="bottom" title="Delete">
                        <i class="fas fa-undo"></i>
                    </button>
                </ng-template>
            </e-column>

        </e-columns>
    </ejs-grid>
    <ejs-pager #pager [enableRtl]='true' [pageSize]='pageSize' [pageCount]='pageCount'
        [totalRecordsCount]='totalRecordsCount' (click)="changePage($event)"></ejs-pager>

</ng-container>


<ng-template #ModalId let-modal>
    <div class="modal-header">
        <h4 class="modal-title">اضافة</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="projectID" style="display: block;" class="col-sm-2 col-form-label">العقار</label>



                        <ejs-dropdownlist id="projectID" formControlName="projectId" [dataSource]='dataDropDown'
                            [changeOnBlur]='false' [allowFiltering]='true' [autofill]='true' [enableRtl]='true'
                            width=290 placeholder="اختار" [fields]='FieldsProject' [showClearButton]="true"
                            (change)='onChangeProjectToGetUnits($event)'>
                        </ejs-dropdownlist>
                        <small *ngIf="(form.get('projectId').errors?.required)&&(form.get('projectId').touched)"
                            class="w-100 text-danger mt-1">
                            مطلوب
                        </small>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="display: block;" class="col-sm-2 col-form-label" for="date">التاريخ</label>

                        <input type="date" formControlName="date" class="form-control" id="date">

                        <small *ngIf="(form.get('date').errors?.required)&&(form.get('date').touched)"
                            class="w-100 text-danger mt-1">
                            مطلوب
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" style="display: inline-block;" class="col-sm-2 col-form-label"
                    class="col-sm-2 col-form-label">اسم العميل</label>
                <br>
                <div *ngFor="let value of values; let i = index">

                    <input style="margin-right: 130px;width: 490px;"  type="text"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="value.value" name="value{{i}}">
                    &nbsp; &nbsp;
                    <button type="button" *ngIf="i>0" (click)="removeCustomer(i)">حذف</button>
                    &nbsp;
                    <br>
                </div>
                <button class="button1" style="margin-right: 90%;" type="button" (click)="addCustomer()"><i
                        class="fa fa-plus"></i>
                </button>
                <small *ngIf="(form.get('name').errors?.required)"
                    class="w-100 text-danger mt-1">
                    مطلوب
                </small>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">التليفون</label>
                <br>
                <div *ngFor="let value of valuesPhone; let i = index">

                    <input style="margin-right: 130px;width: 490px;"  type="text"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="value.value" name="value{{i}}">
                    &nbsp; &nbsp;
                    <button type="button" *ngIf="i>0" (click)="removePhone(i)">حذف</button>
                    &nbsp;
                    <br>
                </div>
                <button class="button1" style="margin-right: 90%;" type="button" (click)="addPhone()"><i
                        class="fa fa-plus"></i>
                </button>
                <small *ngIf="(form.get('phone').errors?.required)"
                    class="w-100 text-danger mt-1">
                    مطلوب
                </small>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">الرقم القومي</label>
                <br>
                <div *ngFor="let value of valuesNational; let i = index">

                    <input style="margin-right: 130px;width: 490px;"
                        [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="value.value"
                        name="value{{i}}">
                    &nbsp; &nbsp;
                    <button type="button" *ngIf="i>0" (click)="removeNational(i)">حذف</button>
                    &nbsp;

                </div>
                <br>
                <button class="button1" style="margin-right: 90%;" type="button" (click)="addNational()"><i
                        class="fa fa-plus"></i>
                </button>
                <small *ngIf="(form.get('nationalNumber').errors?.required)"
                    class="w-100 text-danger mt-1">
                    مطلوب
                </small>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">العنوان </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" formControlName="address">

                </div>
                <small *ngIf="(form.get('address').errors?.required)&&(form.get('address').touched)"
                    class="w-100 text-danger mt-1">
                    مطلوب
                </small>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">نظام الدفع </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" formControlName="program">
                </div>
                <small *ngIf="(form.get('program').errors?.required)&&(form.get('program').touched)"
                    class="w-100 text-danger mt-1">
                    مطلوب
                </small>
            </div>



            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" style="display: block;" class="col-sm-2 col-form-label">سعر المتر </label>

                        <input type="number" class="form-control" id="name" formControlName="meterCost">
                        <small *ngIf="(form.get('meterCost').errors?.required)&&(form.get('meterCost').touched)"
                            class="w-100 text-danger mt-1">
                            مطلوب
                        </small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" style="display: block;" class="col-sm-2 col-form-label">الاجمالي </label>

                        <input type="number" class="form-control" id="name" formControlName="totalCost">
                        <small *ngIf="(form.get('totalCost').errors?.required)&&(form.get('totalCost').touched)"
                            class="w-100 text-danger mt-1">
                            مطلوب
                        </small>
                    </div>
                </div>
            </div>

            <div style="border: groove;" class="form-group row">
                <label for="name" class="col-sm-2 col-form-label"> نوع العقد </label>
                <div *ngFor="let item of radioItems">
                    <input (change)="changeIsStock(item.value)" type="radio" id="{{item?.name}}"
                        formControlName="isStock" [value]="item?.value">
                    <label for="{{item.name}}" class="col-sm-2 col-form-label">{{item?.name}}</label>


                </div>
                <small *ngIf="form.get('isStock').errors?.required" class="w-100 text-danger mt-1">
                    مطلوب
                </small>
              
            </div>
            <!--  -->
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" style="display: block;" class="col-sm-2 col-form-label"> عدد الاسهم </label>

                        <input type="number" class="form-control" id="name" formControlName="stockCount">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" style="display: block;" class="col-sm-2 col-form-label">رقم الطابق </label>

                        <ejs-dropdownlist id="projectUnti" formControlName="numberFloor" [dataSource]='unitListDLL'
                            [changeOnBlur]='false' [allowFiltering]='true' [autofill]='true' [enableRtl]='true'
                            width=290 placeholder="اختار" [fields]='FieldsDDLUnit' [showClearButton]="true"
                            (change)='onChangeUnti($event)'>
                        </ejs-dropdownlist>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" style="display: block;" class="col-sm-2 col-form-label"> عدد الامتار </label>

                        <input type="number" class="form-control" id="name" formControlName="metersCount">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" style="display: block;" class="col-sm-2 col-form-label">رقم الوحدة </label>

                        <ejs-dropdownlist id="projectUnitId" formControlName="projectUnitId"
                            [dataSource]='unitDescriptionsDLL' [changeOnBlur]='false' [allowFiltering]='true'
                            [autofill]='true' [enableRtl]='true' width=290 placeholder="اختار" [fields]='FieldsUnit'
                            [showClearButton]="true">
                        </ejs-dropdownlist>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="form-group row">
                <label for="notes" class="col-sm-2 col-form-label">الملاحظات</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="notes" formControlName="notes">
             </textarea>
                </div>
            </div>
            <!--  -->
            <!-- <div class="form-group row">
                <label for="notes" class="col-sm-2 col-form-label">الملحقات</label>
                <div class="col-sm-10">
                    <div style="text-align:center">
                        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                        <div><img [src]="url" *ngIf="url"></div>
                        <p>
                            <input type="file" (change)="selectFile($event)">
                        </p>
                    </div>
                </div>
            </div> -->
            <!--  -->
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control file-name-input" hidden placeholder="ملفات"
                        formControlName="contractFile" readonly>
                    <button type="button" class="btn btn-success" (click)="file2.click()">
                        <span class="material-icons valign-middle">

                        </span>
                        ارفع ملف</button>
                </div>
                <input type="file" name="File2" class="d-none" #file2 hidden name="contractFile"
                    (change)="uploadImage($event)" multiple>
                <div *ngFor="let item2 of ImageUrl;let j = index" class="mt-3">
                    <div class="box-multi-uploads text-center float-right">

                        <button type="button" class="btn btn-outline-secondary mx-1" (click)="removeAttachments2(j)">
                            <i class="fas fa-undo"></i>
                            حذف
                        </button>
                        <img [src]="BaseFile+item2" class="w-100 img-fluid">

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer px-2 py-2">
        <button type="button" (click)="modal.close('Close click')" class="btn btn-outline-secondary mr-2">
            <i class="fas fa-undo"></i>
            اغلاق
        </button>
        <button type="button" class="btn btn-info mr-2" (click)="addEitFrom()">
            <i class="far fa-save pr-1"></i>
            حفظ
        </button>
    </div>
</ng-template>
  <!--  -->
  <ng-template #cancellId let-modalcancell>
    <div class="modal-header">
  
      <button type="button" class="close" aria-label="Close" (click)="modalcancell.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> المدفوع </label>
        <div class="col-sm-10">
          <input type="number"  [(ngModel)]="cancell.paid" class="form-control"  id="Paid">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">المرتجع </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [(ngModel)]="cancell.back" 
            id="back">
        </div>
      </div>
  
    </div>
    <div class="modal-footer px-2 py-2">
      <button type="button" (click)="modalcancell.close('Close click')" class="btn btn-outline-secondary mr-2">
        <i class="fas fa-undo"></i>
        اغلاق
      </button>
      <button type="button" class="btn btn-info mr-2" (click)="cancelSlectSave()">
        <i class="far fa-save pr-1"></i>
        الغاء العقد
      </button>
    </div>
  </ng-template>
  <!--  -->
  <!-- open modal تاريخ الاقساط تفاصيل بنود العقد -->
<ng-template #InstallmentdateId let-installmentdate>
    <div class="modal-header">
      <h4 class="modal-title"> اضافة</h4>
      <button type="button" class="close" aria-label="Close" (click)="installmentdate.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">القسط</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" #Floor id="numberFloor">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> المبلغ</label>
        <div class="col-sm-10">
          <input type="number" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> التاريخ</label>
        <div class="col-sm-10">
          <input type="date" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> بند ملحق</label>
        <div class="col-sm-1">
          <input type="checkbox" class="form-control">
        </div>
      </div>
    </div>
    <div class="modal-footer px-2 py-2">
      <button type="button" (click)="installmentdate.close('Close click')" class="btn btn-outline-secondary mr-2">
        <i class="fas fa-undo"></i>
        اغلاق
      </button>
      <button type="button" class="btn btn-info mr-2">
        <i class="far fa-save pr-1"></i>
        حفظ
    </button>
    </div>
  </ng-template>
  <!-- التفاصيل  -->
  <ng-template #InstallmentdateList let-installmentdateList>
    <div class="modal-header">
      <h4 class="modal-title"> التفاصيل</h4>
      <button type="button" class="close" aria-label="Close" (click)="installmentdateList.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ng-container>
          <div class="pt-3 clearfix">
            <label for="" class="col-sm-2 col-form-label">  اجمالي العقد</label>
          
              <input type="text" class="col-sm-2" value="60000">
              <label for="" class="col-sm-2 col-form-label">  اجمالي البنود</label>
          
              <input type="text" class="col-sm-2" value="60000">
              <label for="" class="col-sm-2 col-form-label">  اجمالي الملحقات</label>
          
              <input type="text" class="col-sm-2" value="8900">
            
           
          </div>
            <div class="pt-3 clearfix">
          
              <!-- new -->
          
              <button type="button" class="btn btn-outline-info mx-1 " (click)="openModalInstallmentdate()">
                <i class="fas fa-plus"></i>
                جديد
              </button>
              <button type="button" class="btn btn-outline-info mx-1 " (click)="openModalInstallmentGeneratet()">
                <i class="fas fa-plus"></i>
                توليد اقساط
              </button>
          
              <!-- edit -->
          
              <button type="button" class="btn btn-outline-warning mx-1">
                <i class="fas fa-plus"></i>
                تعديل
              </button>
          
              <!-- delete -->
          
              <button type="button" class="btn btn-outline-danger mx-1">
                <i class="fas fa-trash-alt"></i>
                حذف
              </button>
             
            </div>
            <br>
            <ejs-grid #grid [dataSource]='data2'  [enableRtl]='true' [allowFiltering]='false'
              [selectionSettings]='selectionsettings'  gridLines='Both'>
              <e-columns>
                <!-- <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' [customAttributes]='customAttributes'
                  width='60'></e-column> -->
               

                  <e-column [customAttributes]='customAttributes' headerText='بند الملحق ' [customAttributes]='customAttributes' width=90>
                    <ng-template #template let-data>
                      <ejs-checkbox   ></ejs-checkbox>
                     
                    </ng-template>
                  </e-column>
                 
                <e-column field='ProjectID' [customAttributes]='customAttributes'  headerText='بند العقد' textAlign='Right' width=120>
                </e-column>
                <e-column field='date' [customAttributes]='customAttributes' headerText='التاريخ' textAlign='Right'
                format='d/M/y' width=90></e-column>

                <e-column field='Number' [customAttributes]='customAttributes' headerText=' المبلغ' textAlign='Right'
                  width=120>
                </e-column>
              
          
              </e-columns>
            </ejs-grid>
         
          </ng-container>
          
    </div>
    <div class="modal-footer px-2 py-2">
      <button type="button" (click)="installmentdateList.close('Close click')" class="btn btn-outline-secondary mr-2">
        <i class="fas fa-undo"></i>
        اغلاق
      </button>
   
    </div>
  </ng-template>
  <!-- توليد اقساط شهرية -->
  <ng-template #InstallmentGenerate let-installmentGenerate>
    <div class="modal-header">
      <h4 class="modal-title">توليد اقساط شهرية  </h4>
      <button type="button" class="close" aria-label="Close" (click)="installmentGenerate.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">من تاريخ</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" #fromDate id="fromDate1">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> الي تاريخ</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" #toDate id="toDate1">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">  مبلغ التقسيط</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" #numberInstallmen>
        </div>
      </div>
    </div>
    <div class="modal-footer px-2 py-2">
      <button type="button" (click)="installmentGenerate.close('Close click')" class="btn btn-outline-secondary mr-2">
        <i class="fas fa-undo"></i>
        اغلاق
      </button>
      <button type="button" class="btn btn-outline-info mx-1 " (click)="installmentGeneratet(fromDate.value,toDate.value,numberInstallmen.value);installmentGenerate.close('Close click')">
        <i class="fas fa-plus"></i>
        توليد 
      </button>
    </div>
  </ng-template>