<div class="card">
    <div class="card-body">
        <div class="d-flex mt-3">
            <button class="btn btn-circle btn-success text-white btn-lg" href="javascript:void(0)">
                <i class="ti-plus"></i>
            </button>
            <div class="ml-3">
                <h2 class="display-6">$456.90</h2>
                <h5 class="font-light">Your wallet Balance</h5>
            </div>
        </div>
    </div>
    <div id="morris-area-chart2" style="height:105px;"></div>
    <ul class="list-style-none mt-4">
        <li class="py-2 px-4 border-top">
            <div class="d-flex align-items-center">
                <i class="ti-wallet font-24 text-info"></i>
                <a href="#" class="ml-3 font-18 font-light">Withdraw Money</a>
            </div>
        </li>
        <li class="py-2 px-4 border-top">
            <div class="d-flex align-items-center">
                <i class="ti-bag font-24 text-info"></i>
                <a href="#" class="ml-3 font-18 font-light">Shop Now</a>
            </div>
        </li>
        <li class="py-2 px-4 border-top">
            <div class="d-flex align-items-center">
                <i class="ti-briefcase font-24 text-info"></i>
                <a href="#" class="ml-3 font-18 font-light">Add funds</a>
            </div>
        </li>
        <li class="py-2 px-4 border-top">
            <div class="d-flex align-items-center">
                <i class="ti-notepad font-24 text-info"></i>
                <a href="#" class="ml-3 font-18 font-light">Statement</a>
            </div>
        </li>
        <li class="py-2 px-4 border-top">
            <div class="d-flex align-items-center">
                <i class="ti-money font-24 text-info"></i>
                <a href="#" class="ml-3 font-18 font-light">Purchase</a>
            </div>
        </li>
        <li class="py-2 px-4 border-top">
            <div class="d-flex align-items-center">
                <i class="ti-files font-24 text-info"></i>
                <a href="#" class="ml-3 font-18 font-light">Receipts</a>
            </div>
        </li>
        <li class="py-2 px-4 border-top">
            <div class="d-flex align-items-center">
                <i class="ti-marker font-24 text-info"></i>
                <a href="#" class="ml-3 font-18 font-light">Generate Pin</a>
            </div>
        </li>
    </ul>
</div>
