<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <app-stats></app-stats>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Products yearly sales, Weather Cards Section  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12 col-lg-8">
        <app-sales-year></app-sales-year>
    </div>
    <div class="col-md-12 col-lg-4">
        <app-sales-week></app-sales-week>
    </div>
</div>
<!-- ============================================================== -->
<!-- Manage Table & Walet Cards Section  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-8 col-md-12">
        <app-managetable></app-managetable>
    </div>
    <div class="col-lg-4 col-md-12">
        <app-moneycontrol></app-moneycontrol>
    </div>
</div>

<!-- ============================================================== -->
<!-- Manage User Table -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <app-manageusertable></app-manageusertable>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <app-todolist></app-todolist>
    </div>
    <div class="col-lg-8">
        <app-calendar></app-calendar>
    </div>
</div>

<app-blogcards></app-blogcards>

<div class="row">
    <div class="col-lg-4">
        <app-chatlist></app-chatlist>
    </div>
    <div class="col-lg-4">
        <app-useractivity></app-useractivity>
    </div>
    <div class="col-lg-4">
        <app-chat></app-chat>
    </div>
</div>
