<ng-container>

  <div class="pt-3 clearfix">

     <!-- new -->

     <button type="button" class="btn btn-outline-info mx-1 " (click)="openModal()">
      <i class="fas fa-plus"></i>
      جديد
    </button>

    <!-- edit -->

    <button type="button"  class="btn btn-outline-warning mx-1" (click)="openEditModal()">
      <i class="fas fa-plus"></i>
      تعديل
    </button>

    <!-- delete -->

    <button type="button" class="btn btn-outline-danger mx-1" (click)="removeSlect()">
      <i class="fas fa-trash-alt"></i>
      حذف
    </button>

    <button (click)="openQestion()" type="button" class="btn btn-outline-secondary mx-1">
      <i class="fas fa-undo"></i>
      الاستعلامات
    </button>
    <button (click)="openModalBuilding()" type="button" class="btn btn-outline-secondary mx-1">
      <i class="fas fa-building-o"></i>
      التعاقد
    </button>
  </div>
  <br>
  <ejs-grid [dataSource]='data'  #grid   [enableRtl]='true' [allowFiltering]='true' [allowResizing]='true'   [isResponsive]="true" [enableResponsiveRow]="true"
  [selectionSettings]='selectionsettings' (dataBound)='dataBound()' gridLines='Both' (rowSelected)='rowSelected($event)' (actionBegin)='begin($event)'>

    <e-columns>
      <!-- <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' [customAttributes]='customAttributes'
        width='60'></e-column> -->

      <e-column field='name' [customAttributes]='customAttributes' headerText='اسم العميل' textAlign='Right' width=120>
      </e-column>
      <e-column field='phone' [customAttributes]='customAttributes' headerText='التلفون' textAlign='Right' format='C2'
        width=90></e-column>
      <e-column field='referrer' [customAttributes]='customAttributes' headerText='من خلال' textAlign='Right' width=120>
      </e-column>
      <e-column [allowFiltering]='false' [allowSorting]='false' width='90' [disabled]="true" headerText='العمليات'
                [customAttributes]='customAttributes'>
                <ng-template #template let-data>
                    <button class="btn btn-outline-info mx-1" data-toggle="tooltip" data-placement="bottom" (click)="openEdit(data.id)">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger" rel="tooltip" data-toggle="tooltip" data-placement="bottom" (click)="remove(data.id)"
                       >
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-outline-secondary" rel="tooltip" data-toggle="tooltip"  (click)="openModalQestion(data.id,data.name)"
                        data-placement="bottom">
                        <i class="fas fa-undo"></i>
                    </button>

                </ng-template>
            </e-column>
    </e-columns>
  </ejs-grid>
  <!-- <app-pager (pageChange)="paggination($event)" [pager]="pager"></app-pager> -->
  <ejs-pager #pager [enableRtl]='true' [pageSize]='pageSize' [pageCount]='pageCount' [totalRecordsCount]='totalRecordsCount' (click)="changePage($event)"></ejs-pager>

</ng-container>
<!--  -->

<ng-template #ModalId let-modal>
  <div class="modal-header">
    <h4 class="modal-title">اضافة</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" >
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">اسم العميل</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" formControlName="name">
           
            <small *ngIf="(f.name.errors?.required)&&(f.name.touched)"
            class="w-100 text-danger mt-1">
          مطلوب  
          </small>
        </div>
       
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">التليفون</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" formControlName="phone">

        </div>
    </div>
    </form>
  </div>
  <div class="modal-footer px-2 py-2">
    <button type="button" (click)="modal.close('Close click')" class="btn btn-outline-secondary mr-2">
      <i class="fas fa-undo"></i>
     اغلاق
    </button>
    <button type="button" class="btn btn-info mr-2" (click)="addEitFrom()">
      <i class="far fa-save pr-1"></i>
    حفظ
    </button>
  </div>
</ng-template>
<!--  -->
<!-- details  -->
<ng-template #ModalDetailsId let-modalDetails >
  <div class="modal-header">
    <h4 class="modal-title">تفاصيل الوحدة</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalDetails.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formDetails" >
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">نوع الوحدة</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" formControlName="name">
  
    </div>
    <small *ngIf="(formDetails.get('name').errors?.required)&&(formDetails.get('name').touched)"
    class="w-100 text-danger mt-1">
  مطلوب  
  </small>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">المساحة</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="area" formControlName="area">
  
    </div>
    <small *ngIf="(formDetails.get('area').errors?.required)&&(formDetails.get('area').touched)"
    class="w-100 text-danger mt-1">
  مطلوب  
  </small>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">عدد الحمام </label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="bath" formControlName="bath">
  
    </div>
    <small *ngIf="(formDetails.get('bath').errors?.required)&&(formDetails.get('bath').touched)"
    class="w-100 text-danger mt-1">
  مطلوب  
  </small>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label">عدد المطبخ</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="Kitchen" formControlName="kitchen">
  
    </div>
    <small *ngIf="(formDetails.get('kitchen').errors?.required)&&(formDetails.get('kitchen').touched)"
    class="w-100 text-danger mt-1">
  مطلوب  
  </small>
    </div>
    <div class="form-group row">
      <label for="floors" class="col-sm-2 col-form-label">عدد الغرف</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="room" formControlName="room">
  
    </div>
    <small *ngIf="(formDetails.get('room').errors?.required)&&(formDetails.get('room').touched)"
    class="w-100 text-danger mt-1">
  مطلوب  
  </small>
    </div>
    </form>
  </div>
  <div class="modal-footer px-2 py-2">
    <button type="button" (click)="modalDetails.close('Close click')" class="btn btn-outline-secondary mr-2">
      <i class="fas fa-undo"></i>
      اغلاق
    </button>
    <button type="button" class="btn btn-info mr-2"  (click)="openModalPayment()">
      <i class="far fa-save pr-1"></i>
      احجز
    </button>
  </div>
</ng-template>
<!-- open Modal -->


<ng-template #BuildingId let-modalBuilding>
  <div class="modal-header">
    <h4 class="modal-title"> الوحدة</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalBuilding.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

 
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"> العقار</label>
      <div class="col-sm-10">
            <ejs-dropdownlist id='projectID'[dataSource]='dataDropDownContract' (change)="viewBulding($event)"  [fields]="filed" #typeContract ></ejs-dropdownlist>

      </div>

    </div>

    <br>
   
    <div *ngIf="typeContract.value" class="table-responsive col-6">
      <table>
        <tbody>
          <tr *ngFor="let floor of buildingData?.Floors.slice().reverse()">
            <td *ngFor="let flat of floor">
              <ul class="floor">
                <li class="header" [style.background-color]="flat?.Color">
                  <button class="button" [disabled]="flat?.IsDisabled" (click)="openModalDetails(flat.ID)" [style.background-color]="flat?.Color">
                    {{flat?.Number}}
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                  </button>
                </li>
                <!-- <li class="grey">{{flat?.Area}} <i class="fa fa-area-chart" aria-hidden="true"></i></li> -->
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer px-2 py-2">
    <button type="button" (click)="modalBuilding.close('Close click')" class="btn btn-outline-secondary mr-2">
      <i class="fas fa-undo"></i>
      اغلاق
    </button>
   
  </div>
</ng-template>

<ng-template #PaymentId let-paymentId>
  <div class="modal-header">
    <h4 class="modal-title">نظام الدفع </h4>
    <button type="button" class="close" aria-label="Close" (click)="paymentId.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="program" >
    <div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">نوع السداد</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" formControlName="name">
    
      </div>
      <small *ngIf="(program.get('name').errors?.required)&&(program.get('name').touched)"
      class="w-100 text-danger mt-1">
    مطلوب  
    </small>
      </div>

      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> سعر الاجمالي</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="totalCost" formControlName="totalCost">
    
      </div>
      <small *ngIf="(program.get('totalCost').errors?.required)&&(program.get('totalCost').touched)"
      class="w-100 text-danger mt-1">
    مطلوب  
    </small>
      </div>


      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> سعر المتر</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="meterCost" formControlName="meterCost">
    
      </div>
      <small *ngIf="(program.get('meterCost').errors?.required)&&(program.get('meterCost').touched)"
      class="w-100 text-danger mt-1">
    مطلوب  
    </small>
      </div>

    </div>
    </form>
  </div>
  <div class="modal-footer px-2 py-2">
    <button type="button" (click)="paymentId.close('Close click')" class="btn btn-outline-secondary mr-2">
      <i class="fas fa-undo"></i>
      اغلاق
    </button>
    <button type="button" class="btn btn-info mr-2" (click)="saveReservation()">
      <i class="far fa-save pr-1"></i>
      حفظ
    </button>
  </div>
</ng-template>