<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/big/img1.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="d-flex no-block align-items-center mb-3">
                    <span class="text-muted"><i class="ti-calendar"></i> May 16</span>
                    <div class="ml-3">
                        <a href="javascript:void(0)" class="link"><i class="ti-heart"></i> 30</a>
                    </div>
                </div>
                <h3 class="mt-3">Top 20 Models are on the ramp</h3>
                <p class="mt-3 font-light">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                <button class="btn btn-success btn-rounded waves-effect waves-light mt-2 text-white">Read more</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/big/img2.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="d-flex no-block align-items-center mb-3">
                    <span class="text-muted"><i class="ti-calendar"></i> Aug 10</span>
                    <div class="ml-3">
                        <a href="javascript:void(0)" class="link"><i class="ti-heart"></i> 32</a>
                    </div>
                </div>
                <h3 class="mt-3">Top 20 Models are on the ramp</h3>
                <p class="mt-3 font-light">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                <button class="btn btn-success btn-rounded waves-effect waves-light mt-2 text-white">Read more</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/big/img3.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="d-flex no-block align-items-center mb-3">
                    <span class="text-muted"><i class="ti-calendar"></i> Jun 16</span>
                    <div class="ml-3">
                        <a href="javascript:void(0)" class="link"><i class="ti-heart"></i> 40</a>
                    </div>
                </div>
                <h3 class="mt-3">Top 20 Models are on the ramp</h3>
                <p class="mt-3 font-light">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                <button class="btn btn-success btn-rounded waves-effect waves-light mt-2 text-white">Read more</button>
            </div>
        </div>
    </div>
</div>
