<ng-container>

    <div class="pt-3 clearfix">

        <!-- new -->

        <button type="button" class="btn btn-outline-info mx-1 " (click)="openModal()">
            <i class="fas fa-plus"></i>
            جديد
        </button>

        <!-- edit -->

        <button type="button" class="btn btn-outline-warning mx-1">
            <i class="fas fa-plus"></i>
            تعديل
        </button>

        <!-- delete -->

      
        <button type="button" class="btn btn-outline-secondary mx-1">
            <i class="fas fa-undo"></i>
            حذف
        </button>

        <button type="button" class="btn btn-outline-danger mx-1">
            <i class="fas fa-trash-alt"></i>
                الغاء العقد
        </button>
        <!--  -->
        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentdateList()">
            <i class="far fa-address-card"></i>
            تاريخ الاقساط
        </button>

        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
            <i class="far fa-address-card"></i>
            سداد الاقساط
        </button>
        <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalSafe()">
          <i class="far fa-address-card"></i>
        الخزنة
      </button>
      <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
        <i class="far fa-address-card"></i>
        منبه الاقساط
    </button>
    <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
      <i class="far fa-address-card"></i>
      الاقساط  المتاخرة 
  </button>
  <button type="button" class="btn btn-outline-secondary mx-1" (click)="openModalInstallmentPay()">
    <i class="far fa-address-card"></i>
   التعاقدات الملغاة
</button>
    </div>
    <br>
    <ejs-grid [dataSource]='data' id='Grid' [enableRtl]='true' [allowFiltering]='true'
        [selectionSettings]='selectionsettings' gridLines='Both' [resizeSettings]="resizeSettings">
        <e-columns>
            <e-column type='checkbox' [height]='315' [allowFiltering]='false' [allowSorting]='false'
                [customAttributes]='customAttributes' width='60'></e-column>

            <e-column field='ProjectID' [customAttributes]='customAttributes' height=130 headerText='العقار '
                textAlign='Right' width=120>
            </e-column>
            <e-column field='IsStock' [customAttributes]='customAttributes' headerText='نوع العقد ' textAlign='Right'
                width=120>
            </e-column>

            <e-column field='Name' [customAttributes]='customAttributes' headerText='   العميل' textAlign='Right'
                width=120>
            </e-column>
            <e-column field='Program' [customAttributes]='customAttributes' headerText='   نظام الدفع' textAlign='Right'
                width=120>
            </e-column>

            <e-column field='Phone' [customAttributes]='customAttributes' headerText=' التلفون' textAlign='Right'
                width=120>
            </e-column>

            <e-column field='Address' [customAttributes]='customAttributes' headerText=' العنوان' textAlign='Right'
                width=120>
            </e-column>

            <e-column field='NationalNumber' [customAttributes]='customAttributes' headerText=' الرقم القومي'
                textAlign='Right' width=120>
            </e-column>

            <e-column field='date' [customAttributes]='customAttributes' headerText='التاريخ' textAlign='Right'
                format='yMd' width=90></e-column>


            <e-column field='Notes' [customAttributes]='customAttributes' height=400 headerText='  الملاحظات'
                textAlign='Right' width=120>
            </e-column>

            <e-column [allowFiltering]='false' [allowSorting]='false' width='170' [disabled]="true"
                headerText='العمليات' [customAttributes]='customAttributes'>
                <ng-template #template let-data>
                    <button class="btn btn-outline-info mx-1" data-toggle="tooltip" data-placement="bottom">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger" rel="tooltip" data-toggle="tooltip" data-placement="bottom"
                        title="Delete">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-outline-secondary" rel="tooltip" data-toggle="tooltip"
                        data-placement="bottom" title="Delete">
                        <i class="fas fa-undo"></i>
                    </button>
                </ng-template>
            </e-column>

        </e-columns>
    </ejs-grid>
    <app-pager (pageChange)="paggination($event)" [pager]="pager"></app-pager>
</ng-container>


<ng-template #ModalId let-modal>
    <div class="modal-header">
        <h4 class="modal-title">اضافة</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 form-group">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="projectID" style="display: block;" class="col-sm-2 col-form-label">العقار</label>


                    <ejs-dropdownlist id='projectID' class=" col-sm-10" [dataSource]='dataDropDown'
                        placeholder='اختر العقار'></ejs-dropdownlist>

                </div>
                <div class="form-group col-md-6">
                    <label style="display: block;" class="col-sm-2 col-form-label" for="phone">التاريخ</label>

                    <input type="date" class="form-control" id="date">


                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" style="display: inline-block;" class="col-sm-2 col-form-label"
                class="col-sm-2 col-form-label">اسم العميل</label>
            <br>
            <div *ngFor="let value of values; let i = index">

                <input style="margin-right: 130px;width: 490px;" type="text" [(ngModel)]="value.value"
                    name="value{{i}}">
                &nbsp; &nbsp;
                <button type="button" *ngIf="i>0" (click)="removeCustomer(i)">حذف</button>
                &nbsp;
                <br>
            </div>
            <button class="button1" style="margin-right: 90%;" type="button" (click)="addCustomer()">اضافة عميل
            </button>

        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">التليفون</label>
            <br>
            <div *ngFor="let value of valuesPhone; let i = index">

                <input style="margin-right: 130px;width: 490px;" type="text" [(ngModel)]="value.value"
                    name="value{{i}}">
                &nbsp; &nbsp;
                <button type="button" *ngIf="i>0" (click)="removePhone(i)">حذف</button>
                &nbsp;
                <br>
            </div>
            <button class="button1" style="margin-right: 90%;" type="button" (click)="addPhone()">اضافة رقم تلفيون
            </button>

        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">الرقم القومي</label>
            <br>
            <div *ngFor="let value of valuesNational; let i = index">

                <input style="margin-right: 130px;width: 490px;" type="text" [(ngModel)]="valuesNational.value"
                    name="value{{i}}">
                &nbsp; &nbsp;
                <button type="button" *ngIf="i>0" (click)="removeNational(i)">حذف</button>
                &nbsp;

            </div>
            <br>
            <button class="button1" style="margin-right: 90%;" type="button" (click)="addNational()">اضافة الرقم القومي
            </button>

        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">العنوان </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name">

            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">نظام الدفع </label>
            <div class="col-sm-10">
                <ejs-dropdownlist id='projectID' [dataSource]='program' placeholder='اختر '></ejs-dropdownlist>
            </div>
        </div>



        <div class="col-md-12 form-group">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" style="display: block;" class="col-sm-2 col-form-label"> المتر </label>

                    <input type="number" class="form-control" id="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="name" style="display: block;" class="col-sm-2 col-form-label">الاجمالي </label>

                    <input type="number" class="form-control" id="name">
                </div>
            </div>
        </div>

        <div style="border: groove;" class="form-group row">
            <label for="name" class="col-sm-2 col-form-label"> نوع العقد </label>

            <label class="col-sm-2 col-form-label" *ngFor="let radiobutton of radioItems">
                <input type="radio" name="options" (click)="model.option = radiobutton"
                    [checked]="radiobutton === model.option">{{radiobutton}}
            </label>

        </div>
        <!--  -->
        <div class="col-md-12 form-group">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" style="display: block;" class="col-sm-2 col-form-label"> عدد الاسهم </label>

                    <input type="number" class="form-control" id="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="name" style="display: block;" class="col-sm-2 col-form-label">رقم الطابق </label>

                    <input type="number" class="form-control" id="name">
                </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-12 form-group">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" style="display: block;" class="col-sm-2 col-form-label"> عدد الامتار </label>

                    <input type="number" class="form-control" id="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="name" style="display: block;" class="col-sm-2 col-form-label">رقم الوحدة </label>

                    <input type="number" class="form-control" id="name">
                </div>
            </div>
        </div>
        <!--  -->
        <div class="form-group row">
            <label for="notes" class="col-sm-2 col-form-label">الملاحظات</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="notes">
             </textarea>
            </div>
        </div>
        <!--  -->
        <div class="form-group row">
            <label for="notes" class="col-sm-2 col-form-label">الملحقات</label>
            <div class="col-sm-10">
                <div style="text-align:center">
                    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                    <div><img [src]="url" *ngIf="url"></div>
                    <p>
                        <input type="file" (change)="selectFile($event)">
                    </p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="modal-footer px-2 py-2">
        <button type="button" (click)="modal.close('Close click')" class="btn btn-outline-secondary mr-2">
            <i class="fas fa-undo"></i>
            اغلاق
        </button>
        <button type="button" class="btn btn-info mr-2">
            <i class="far fa-save pr-1"></i>
            حفظ
        </button>
    </div>
</ng-template>
<!-- open modal تاريخ الاقساط تفاصيل بنود العقد -->
<ng-template #InstallmentdateId let-installmentdate>
    <div class="modal-header">
      <h4 class="modal-title"> اضافة</h4>
      <button type="button" class="close" aria-label="Close" (click)="installmentdate.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">القسط</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" #Floor id="numberFloor">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> المبلغ</label>
        <div class="col-sm-10">
          <input type="number" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> التاريخ</label>
        <div class="col-sm-10">
          <input type="date" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> بند ملحق</label>
        <div class="col-sm-1">
          <input type="checkbox" class="form-control">
        </div>
      </div>
    </div>
    <div class="modal-footer px-2 py-2">
      <button type="button" (click)="installmentdate.close('Close click')" class="btn btn-outline-secondary mr-2">
        <i class="fas fa-undo"></i>
        اغلاق
      </button>
      <button type="button" class="btn btn-info mr-2">
        <i class="far fa-save pr-1"></i>
        حفظ
    </button>
    </div>
  </ng-template>
  <!-- التفاصيل  -->
  <ng-template #InstallmentdateList let-installmentdateList>
    <div class="modal-header">
      <h4 class="modal-title"> التفاصيل</h4>
      <button type="button" class="close" aria-label="Close" (click)="installmentdateList.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ng-container>
          <div class="pt-3 clearfix">
            <label for="" class="col-sm-2 col-form-label">  اجمالي العقد</label>
          
              <input type="text" class="col-sm-2" value="60000">
              <label for="" class="col-sm-2 col-form-label">  اجمالي البنود</label>
          
              <input type="text" class="col-sm-2" value="60000">
              <label for="" class="col-sm-2 col-form-label">  اجمالي الملحقات</label>
          
              <input type="text" class="col-sm-2" value="8900">
            
           
          </div>
            <div class="pt-3 clearfix">
          
              <!-- new -->
          
              <button type="button" class="btn btn-outline-info mx-1 " (click)="openModalInstallmentdate()">
                <i class="fas fa-plus"></i>
                جديد
              </button>
              <button type="button" class="btn btn-outline-info mx-1 " (click)="openModalInstallmentGeneratet()">
                <i class="fas fa-plus"></i>
                توليد اقساط
              </button>
          
              <!-- edit -->
          
              <button type="button" class="btn btn-outline-warning mx-1">
                <i class="fas fa-plus"></i>
                تعديل
              </button>
          
              <!-- delete -->
          
              <button type="button" class="btn btn-outline-danger mx-1">
                <i class="fas fa-trash-alt"></i>
                حذف
              </button>
             
            </div>
            <br>
            <ejs-grid #grid [dataSource]='data2'  [enableRtl]='true' [allowFiltering]='false'
              [selectionSettings]='selectionsettings'  gridLines='Both'>
              <e-columns>
                <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' [customAttributes]='customAttributes'
                  width='60'></e-column>
               

                  <e-column [customAttributes]='customAttributes' headerText='بند الملحق ' [customAttributes]='customAttributes' width=90>
                    <ng-template #template let-data>
                      <ejs-checkbox   ></ejs-checkbox>
                     
                    </ng-template>
                  </e-column>
                 
                <e-column field='ProjectID' [customAttributes]='customAttributes'  headerText='بند العقد' textAlign='Right' width=120>
                </e-column>
                <e-column field='date' [customAttributes]='customAttributes' headerText='التاريخ' textAlign='Right'
                format='d/M/y' width=90></e-column>

                <e-column field='Number' [customAttributes]='customAttributes' headerText=' المبلغ' textAlign='Right'
                  width=120>
                </e-column>
              
          
              </e-columns>
            </ejs-grid>
         
          </ng-container>
          
    </div>
    <div class="modal-footer px-2 py-2">
      <button type="button" (click)="installmentdateList.close('Close click')" class="btn btn-outline-secondary mr-2">
        <i class="fas fa-undo"></i>
        اغلاق
      </button>
   
    </div>
  </ng-template>
  <!-- توليد اقساط شهرية -->
  <ng-template #InstallmentGenerate let-installmentGenerate>
    <div class="modal-header">
      <h4 class="modal-title">توليد اقساط شهرية  </h4>
      <button type="button" class="close" aria-label="Close" (click)="installmentGenerate.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">من تاريخ</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" #fromDate id="fromDate1">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"> الي تاريخ</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" #toDate id="toDate1">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">  مبلغ التقسيط</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" #numberInstallmen>
        </div>
      </div>
    </div>
    <div class="modal-footer px-2 py-2">
      <button type="button" (click)="installmentGenerate.close('Close click')" class="btn btn-outline-secondary mr-2">
        <i class="fas fa-undo"></i>
        اغلاق
      </button>
      <button type="button" class="btn btn-outline-info mx-1 " (click)="installmentGeneratet(fromDate.value,toDate.value,numberInstallmen.value);installmentGenerate.close('Close click')">
        <i class="fas fa-plus"></i>
        توليد 
      </button>
    </div>
  </ng-template>

    <!-- سداد الاقساط  -->
    <ng-template #InstallmentPay let-installmentPay>
      <div class="modal-header">
        <h4 class="modal-title">سداد الاقساط</h4>
        <button type="button" class="close" aria-label="Close" (click)="installmentPay.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ng-container>
         
              <br>
              <ejs-grid #grid [dataSource]='data3'  [enableRtl]='true' [allowFiltering]='false'
                [selectionSettings]='selectionsettings'  gridLines='Both'>
                <e-columns>
                
                  <e-column field='type' [customAttributes]='customAttributes'  headerText=' النوع' textAlign='Right' width=120>
                  </e-column>
                  <e-column field='installment' [customAttributes]='customAttributes'  headerText=' القسط' textAlign='Right' width=120>
                  </e-column>
                  <e-column field='installmentDate' [customAttributes]='customAttributes' headerText='التاريخ' textAlign='Right'
                  format='d/M/y' width=90></e-column>
  
                  <e-column field='value1' [customAttributes]='customAttributes' headerText=' القيمة' textAlign='Right'
                    width=120>
                  </e-column>
                  <e-column field='numberBill' [customAttributes]='customAttributes' headerText=' رقم الايصال' textAlign='Right'
                  width=120>
                </e-column>
            

                <e-column field='payDate' [customAttributes]='customAttributes' headerText='التاريخ' textAlign='Right'
                format='d/M/y' width=90></e-column>

                <e-column field='value2' [customAttributes]='customAttributes' headerText=' القيمة' textAlign='Right'
                width=120>
              </e-column>
                </e-columns>
              </ejs-grid>
           
            </ng-container>
            
      </div>
      <div class="modal-footer px-2 py-2">
        <button type="button" (click)="installmentPay.close('Close click')" class="btn btn-outline-secondary mr-2">
          <i class="fas fa-undo"></i>
          اغلاق
        </button>
     
      </div>
    </ng-template>
       <!-- الخزنة  -->
       <ng-template #Safe let-safe>
        <div class="modal-header">
          <h4 class="modal-title">الخزنة </h4>
          <button type="button" class="close" aria-label="Close" (click)="safe.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ng-container>
           
                <br>
                <ejs-grid #grid [dataSource]='data3'  [enableRtl]='true' [allowFiltering]='false'
                  [selectionSettings]='selectionsettings'  gridLines='Both'>
                  <e-columns>
                  
                   
                    <e-column field='installment' [customAttributes]='customAttributes'  headerText=' القسط' textAlign='Right' width=120>
                    </e-column>
                    <e-column field='installmentDate' [customAttributes]='customAttributes' headerText='التاريخ' textAlign='Right'
                    format='d/M/y' width=90></e-column>
    
                    <e-column field='value1' [customAttributes]='customAttributes' headerText=' القيمة' textAlign='Right'
                      width=120>
                    </e-column>
                   
                  </e-columns>
                </ejs-grid>
                <br>
                <div class="pt-3 clearfix">
          
                  <!-- new -->
              
                  <button type="button" class="btn btn-outline-info mx-1 " (click)="openModalSafeAddEdit()">
                    <i class="fas fa-plus"></i>
                    جديد
                  </button>
                
                  <!-- edit -->
              
                  <button type="button" class="btn btn-outline-warning mx-1">
                    <i class="fas fa-plus"></i>
                    تعديل
                  </button>
              
                  <!-- delete -->
              
                  <button type="button" class="btn btn-outline-danger mx-1">
                    <i class="fas fa-trash-alt"></i>
                    حذف
                  </button>
                 
                </div>
                <br>
                <ejs-grid #grid [dataSource]='dataSafe'  [enableRtl]='true' [allowFiltering]='false'
                  [selectionSettings]='selectionsettings'  gridLines='Both'>
                  <e-columns>
                  
                   
                    <e-column field='numberBill' [customAttributes]='customAttributes'  headerText=' رقم الفاتورة' textAlign='Right' width=120>
                    </e-column>
                    <e-column field='safeDate' [customAttributes]='customAttributes' headerText='التاريخ' textAlign='Right'
                    format='d/M/y' width=90></e-column>
    
                    <e-column field='value1' [customAttributes]='customAttributes' headerText=' الدفع' textAlign='Right'
                      width=120>
                    </e-column>
                   
                  </e-columns>
                </ejs-grid>
              </ng-container>
              
        </div>
        <div class="modal-footer px-2 py-2">
          <button type="button" (click)="safe.close('Close click')" class="btn btn-outline-secondary mr-2">
            <i class="fas fa-undo"></i>
            اغلاق
          </button>
       
        </div>
      </ng-template>

      <!-- open modal اافة خزنة -->
<ng-template #SafeAddEdit let-safeAddEdit>
  <div class="modal-header">
    <h4 class="modal-title">ايصالات دفع</h4>
    <button type="button" class="close" aria-label="Close" (click)="safeAddEdit.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


   

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"> رقم الفاتورة</label>
      <div class="col-sm-10">
        <input type="number" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"> التاريخ</label>
      <div class="col-sm-10">
        <input type="date" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"> الدفع</label>
      <div class="col-sm-10">
        <input type="number" class="form-control">
      </div>
    </div>
  </div>
  <div class="modal-footer px-2 py-2">
    <button type="button" (click)="safeAddEdit.close('Close click')" class="btn btn-outline-secondary mr-2">
      <i class="fas fa-undo"></i>
      اغلاق
    </button>
    <button type="button" class="btn btn-info mr-2">
      <i class="far fa-save pr-1"></i>
      حفظ
  </button>
  </div>
</ng-template>