<ng-container>

    <div class="pt-3 clearfix">

        <!-- new -->

        <button type="button" class="btn btn-outline-info mx-1 " (click)="openModal()">
            <i class="fas fa-plus"></i>
            جديد
        </button>

        <!-- edit -->

        <button type="button" class="btn btn-outline-warning mx-1"  (click)="openModal()">
            <i class="fas fa-plus"></i>
            تعديل
        </button>

        <!-- delete -->

        <button type="button" class="btn btn-outline-danger mx-1">
            <i class="fas fa-trash-alt"></i>
            حذف
        </button>
        <button type="button" (click)="openModalSalary()" class="btn btn-outline-secondary mx-1" >
            <i class="fas fa-undo"></i>
            المرتبات
        </button>

    </div>
    <br>
    <ejs-grid [dataSource]='data' id='grid' [enableRtl]='true' [allowFiltering]='true' 
        [selectionSettings]='selectionsettings'  gridLines='Both' (rowSelected)='rowSelected($event)'>
        <e-columns>
            <!-- <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false'
                [customAttributes]='customAttributes' width='60'></e-column> -->

            <e-column field='name' [customAttributes]='customAttributes' headerText='اسم ' textAlign='Right' width=120>
            </e-column>
            <e-column field='department' [customAttributes]='customAttributes' headerText='القسم ' textAlign='Right'
                width=120>
            </e-column>
            <e-column field='phone' [customAttributes]='customAttributes' headerText='التليفون' textAlign='Right'
                format='C2' width=90></e-column>
            <e-column field='workSince' format='dd/MM/yyyy' [customAttributes]='customAttributes' headerText='تاريخ العمل'
                textAlign='Right' width=120>
            </e-column>
            <e-column [allowFiltering]='false' [allowSorting]='false' width='90' [disabled]="true" headerText='العمليات'
                [customAttributes]='customAttributes'>
                <ng-template #template let-data>
                    <button class="btn btn-outline-info mx-1" data-toggle="tooltip" data-placement="bottom">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger" rel="tooltip" data-toggle="tooltip" data-placement="bottom"
                        title="Delete">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-outline-secondary" rel="tooltip" data-toggle="tooltip"
                        data-placement="bottom" title="Delete">
                        <i class="fas fa-undo"></i>
                    </button>

                </ng-template>
            </e-column>

        </e-columns>
    </ejs-grid>
    <ejs-pager #pager [enableRtl]='true' [pageSize]='pageSize' [pageCount]='pageCount' [totalRecordsCount]='totalRecordsCount'  (click)="changePage($event)"></ejs-pager>

</ng-container>


<ng-template #ModalId let-modal>
    <div class="modal-header">
        <h4 class="modal-title">اضافة</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  
    <div class="modal-body">
        <form [formGroup]="form" >
        <div class="form-group row">

            <label for="" class="col-sm-2 col-form-label">اسم القسم</label>
            <div class="col-sm-10">
                <ejs-dropdownlist id="department" [dataSource]='departmentDDL'
                [allowFiltering]='true' [autofill]='true' [enableRtl]='true'
                        placeholder="اختار" [fields]='FieldsDDL' formControlName="departmentId"
                >
            </ejs-dropdownlist>

            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">اسم </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" formControlName="name">

            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">التليفون</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" formControlName="phone">

            </div>
        </div>
        <div class="form-group row">
            <label for="workSince" class="col-sm-2 col-form-label">تاريخ العمل</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="workSince" formControlName="workSince">

            </div>
        </div>
        <div class="form-group row">
            <label for="floors" class="col-sm-2 col-form-label">كلمة السر</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" formControlName="passWord">

            </div>
        </div>
    </form>
    </div>
   
    <div class="modal-footer px-2 py-2">
        <button type="button" (click)="modal.close('Close click')" class="btn btn-outline-secondary mr-2">
            <i class="fas fa-undo"></i>
            اغلاق
        </button>
        <button type="button" class="btn btn-info mr-2" (click)="addEitFrom()">
            <i class="far fa-save pr-1"></i>
            حفظ
        </button>
    </div>
</ng-template>
<!-- salary -->
<ng-template #ModalSalaryId let-modalSalary>
    <div class="modal-header">
        <h4 class="modal-title">اضافة</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalSalary.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">

            <label for="" class="col-sm-2 col-form-label">ثابت</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="fixed">

            </div>
        </div>
      <!--  -->
      <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">حافز الانتاج</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="productionincentive">

        </div>
    </div>
    <!--  -->
    <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">مكافئات</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Rewards">

        </div>
    </div>
    <!--  -->
    <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">سلفة</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Advancepayment">

        </div>
    </div>
    <!--  -->
    <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">جزاءات</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Sanctions">

        </div>
    </div>
    <!--  -->
    <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">تأخيرات</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="delays">

        </div>
    </div>
    <!--  -->
    <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">تأمينات اجتماعية</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Socialinsurance">

        </div>
    </div>
    <!--  -->
    <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">ْْاجازات</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="holidays">

        </div>
    </div>
      <!--  -->
      <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">بوفيه</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="buffet">

        </div>
    </div>
       <!--  -->
       <div class="form-group row">

        <label for="" class="col-sm-2 col-form-label">العمولة</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="buffet">

        </div>
    </div>
    </div>
    <div class="modal-footer px-2 py-2">
        <button type="button" (click)="modalSalary.close('Close click')" class="btn btn-outline-secondary mr-2">
            <i class="fas fa-undo"></i>
            اغلاق
        </button>
        <button type="button" class="btn btn-info mr-2">
            <i class="far fa-save pr-1"></i>
            حفظ
        </button>
    </div>
</ng-template>