<div class="card">
    <div class="d-flex align-items-center px-3 py-4 border-bottom">
        <div>
            <h5 class="text-dark font-light mb-0">This Months Task</h5>
            <h4 class="mb-0 text-uppercase font-medium">To-do List</h4>
        </div>
    </div>
    <div class="card-body">
        <div class=" scrollable position-relative" [perfectScrollbar]="config" style="height:588px;">
            <div class="todo-widget">
                <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
                    <li class="list-group-item todo-item pt-0" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck">
                            <label class="custom-control-label todo-label" for="customCheck">
                                <span class="todo-desc">Schedule meeting with</span>
                            </label>
                        </div>
                        <ul class="list-style-none assignedto mt-2">
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/1.jpg"
                                    alt="user" placement="top" ngbTooltip="Steave"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/2.jpg"
                                    alt="user" placement="top" ngbTooltip="Jessica"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/3.jpg"
                                    alt="user" placement="top" ngbTooltip="Priyanka"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/4.jpg"
                                    alt="user" placement="top" ngbTooltip="Selina"></li>
                        </ul>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck1">
                            <label class="custom-control-label todo-label" for="customCheck1">
                                <span class="todo-desc">Give Purchase report to</span><span
                                    class="badge badge-pill badge-danger font-medium text-white ml-1">Today </span>
                            </label>
                        </div>
                        <ul class="list-style-none assignedto mt-2">
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/1.jpg"
                                    alt="user" placement="top" ngbTooltip="Steave"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/2.jpg"
                                    alt="user" placement="top" ngbTooltip="Jessica"></li>
                        </ul>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck3">
                            <label class="custom-control-label todo-label" for="customCheck3">
                                <span class="todo-desc">Book flight for holiday</span>
                            </label>
                        </div>
                        <div class="item-date"> 26 jun 2017</div>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck4">
                            <label class="custom-control-label todo-label" for="customCheck4">
                                <span class="todo-desc">Forward all tasks</span> <span
                                    class="badge badge-pill badge-warning ml-1 text-white font-medium">2 weeks</span>
                            </label>
                        </div>
                        <div class="item-date"> 26 jun 2017</div>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck5">
                            <label class="custom-control-label todo-label" for="customCheck5">
                                <span class="todo-desc">Recieve shipment</span>
                            </label>
                        </div>
                        <div class="item-date"> 26 jun 2017</div>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck6">
                            <label class="custom-control-label todo-label" for="customCheck6">
                                <span class="todo-desc">Important tasks</span><span
                                    class="badge badge-pill badge-success font-medium text-white ml-1">2 weeks </span>
                            </label>
                        </div>
                        <ul class="list-style-none assignedto mt-2">
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/1.jpg"
                                    alt="user" placement="top" ngbTooltip="Steave"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/2.jpg"
                                    alt="user" placement="top" ngbTooltip="Jessica"></li>
                        </ul>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck">
                            <label class="custom-control-label todo-label" for="customCheck">
                                <span class="todo-desc">Schedule meeting with</span>
                            </label>
                        </div>
                        <ul class="list-style-none assignedto mt-2">
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/1.jpg"
                                    alt="user" placement="top" ngbTooltip="Steave"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/2.jpg"
                                    alt="user" placement="top" ngbTooltip="Jessica"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/3.jpg"
                                    alt="user" placement="top" ngbTooltip="Priyanka"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/4.jpg"
                                    alt="user" placement="top" ngbTooltip="Selina"></li>
                        </ul>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck1">
                            <label class="custom-control-label todo-label" for="customCheck1">
                                <span class="todo-desc">Give Purchase report to</span><span
                                    class="badge badge-pill badge-danger font-medium text-white ml-1">Today </span>
                            </label>
                        </div>
                        <ul class="list-style-none assignedto mt-2">
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/1.jpg"
                                    alt="user" placement="top" ngbTooltip="Steave"></li>
                            <li class="assignee"><img class="assignee-img" src="assets/images/users/2.jpg"
                                    alt="user" placement="top" ngbTooltip="Jessica"></li>
                        </ul>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck3">
                            <label class="custom-control-label todo-label" for="customCheck3">
                                <span class="todo-desc">Book flight for holiday</span>
                            </label>
                        </div>
                        <div class="item-date"> 26 jun 2017</div>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck4">
                            <label class="custom-control-label todo-label" for="customCheck4">
                                <span class="todo-desc">Forward all tasks</span> <span
                                    class="badge badge-pill badge-warning ml-1 text-white font-medium">2 weeks</span>
                            </label>
                        </div>
                        <div class="item-date"> 26 jun 2017</div>
                    </li>
                    <li class="list-group-item todo-item" data-role="task">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input todo-check" id="customCheck5">
                            <label class="custom-control-label todo-label" for="customCheck5">
                                <span class="todo-desc">Recieve shipment</span>
                            </label>
                        </div>
                        <div class="item-date"> 26 jun 2017</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
